{% load static %}
{% load common %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>{{ settings.APP_NAME }}</title>
  {% endblock %}
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
</head>
<body>
   <div class="container">
      {% block header %} {% include "header.html" %}{% endblock %}
      {% nav "主页" %}
      {% block content %} {% endblock %}
      {% block footer %}{% include "footer.html" %}{% endblock %}
  </div>
</body>
</html>