{% extends "base.html" %}

{% block content %}

<form action="{% url change_password %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {{form.custom_error }}
    {{form.sucess_tips}}
    <div class="control-group">
	    <label class="control-label">旧密码</label>
	    <div class="controls">
	      {{ form.old_password }} {{form.old_password.errors}}
	    </div>
  	</div>    
    <div class="control-group">
	    <label class="control-label">新密码</label>
	    <div class="controls">
	      {{ form.new_password }} {{form.new_password.errors}}
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">再次输入新密码</label>
	    <div class="controls">
	      {{ form.new_password1 }} {{form.new_password1.errors}}
	    </div>
  	</div>
    <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn">确认</button>
	    </div>
  	</div>
</form>

{% endblock %}