{% extends "base.html" %}
{% load static %}
{% load common %}

{% block tabs %} {% nav "personal" %} {% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url restaurant_all 1%}">全部餐厅</a> <span class="divider">/</span></li>
  {% if order.restaurant %}
  <li><a href="{% url restaurant_all_menu order.restaurant.id order.restaurant.name 1%}">{{order.restaurant.name}}</a> <span class="divider">/</span></li>
  {% else %}
  <li>未选餐厅 <span class="divider">/</span></li>
  {% endif %}
  <li class="active">总费用：￥{{order.price}} </li>
  {% if request.user == order.sponsor %}<li><a class="btn btn-primary btn-mini" href="{% url del_order order.id %}">取消订餐</a></li>{% endif %}
</ul>

<table class="table table-striped">
	<tr>
		<th>菜单名</th>
		<th>价格</th>
	</tr>
	{% for menu in order.menus.all %}
	<tr>
		<td>{{menu.name}}</td>
		<td>￥{{menu.price}}</td>
	</tr>
	{% endfor %}
</table>

<div class="row">
	<div class="span2">领餐人：</div>
	<div class="span8">
		{% for owner in order.owners.all %}
		{{owner.username}} &nbsp;
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="span2">订餐时间：</div>
	<div class="span8">
		{{ order.get_add_time }}
	</div>
</div>
<div class="row">
	<div class="span2">订餐人：</div>
	<div class="span8">
		{{ order.sponsor }}
	</div>
</div>

{% endblock %}