{% extends "base.html" %}
{% load static %}
{% load common %}

{% block tabs %} {% nav "餐厅" %} {% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url restaurant_all 1%}">全部餐厅</a> <span class="divider">/</span></li>
  {% if restaurant %}
  <li><a href="{% url restaurant_all_menu restaurant.id restaurant.name 1%}">{{restaurant.name}}</a> <span class="divider">/</span></li>
  {% else %}
  <li>未知订餐 <span class="divider">/</span></li>
  {% endif %}
  <li class="active">总费用：￥{{total_price}} </li>
</ul>



<table class="table table-striped">
	<tr>
		<th>菜单名</th>
		<th>价格</th>
		<th>选择</th>
	</tr>
	{% for menu in menus_page.object_list %}
	<tr>
		<td>{{menu.name}}</td>
		<td>￥{{menu.price}}</td>
		<td><label class="checkbox">
			{% if menu.id in request.session.menus %}
			<input type="checkbox" value="{{menu.name}}" onclick="check_menu(this, '{{menu.id}}')" checked="checked" />勾选</label>
			{% else %}
			<input type="checkbox" value="{{menu.name}}" onclick="check_menu(this, '{{menu.id}}')" />勾选</label>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

{% pagination menus_page "/order/ready" %}

<form action="{% url order_ready%}" method="post" class="form-inline">
	{% csrf_token %}
    {{ form.custom_error }}
    <div class="control-group">
	    <label class="control-label">领餐人({{ form.receivers.help_text }})</label>
	    <div class="controls">
	      {{ form.receivers }} {{form.receivers.errors}}
	    </div>
  	</div>  
  	<div class="control-group">
  		<button type="submit" class="btn pull-right">确认</button> 
  	</div>
</form>

<br />

<div class="alert fade" id="alert_box">
	some error here
</div>	

<script type="text/javascript">

function check_menu(checkbox, menu_id) {
	$.getJSON("/menu/check/" + menu_id + "/", {}, function(data){
		if (!data.is_ok) {
			$("#alert_box").attr("class", "alert alert-error");
			$("#alert_box").html(data.reason);
		} else {
			$("#alert_box").attr("class", "alert alert-success");
			$("#alert_box").html("成功选择 " + checkbox.value);
		}
	});
}



$("#receivers_input").keypress(function () {
	var value = $("#receivers_input").val()
	var usernames = value.split(" ");
	var username = usernames[usernames.length - 1];
	$.getJSON("/get_usernames/" + username + "/", {}, function(data) {
		$("#receivers_input").autocomplete({
			source: data
		});
	});
});

</script>
{% endblock %}