{% extends "base.html" %}

{% block content %}

<form action="{% url register %}" method="post" class="form-inline">
    {% csrf_token %}
    {{ form.custom_error }}
    <div class="control-group">
	    <label class="control-label">用户名</label>
	    <div class="controls">
	      {{ form.username }} {{form.username.errors}}
	    </div>
  	</div>    
    <div class="control-group">
	    <label class="control-label" for="inputPassword">密码</label>
	    <div class="controls">
	      {{ form.password }} {{ form.password.errors }}
	    </div>
    </div>
    <div class="control-group">
	    <label class="control-label">Email</label>
	    <div class="controls">
	      {{ form.email }} {{ form.email.errors }}
	    </div>
    </div>
    <div class="control-group">
	    <label class="control-label">真实姓名</label>
	    <div class="controls">
	      {{ form.real_name }} {{ form.real_name.errors }}
	    </div>
    </div>
    <div class="control-group">
	    <label class="control-label">所属部门</label>
	    <div class="controls">
	      {{ form.department }} {{ form.department.errors }}
	    </div>
    </div>
    <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn">注册</button>
	    </div>
  	</div>
</form>

{% endblock %}