{% extends "base.html" %}
{% load static %}
{% load common %}

{% block tabs %} {% nav "餐厅" %} {% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url restaurant_all 1%}">全部餐厅</a> <span class="divider">/</span></li>
  <li class="active">{{restaurant_name}} <span class="divider">/</span></li>
  <li class="active"><a href="{% url order_ready %}" class="btn btn-primary">提交订餐</a></li>
</ul>



<table class="table table-striped">
	<tr>
		<th>菜单名</th>
		<th>价格</th>
		<th>选择</th>
	</tr>
	{% for menu in menus_page.object_list %}
	<tr>
		<td>{{menu.name}}</td>
		<td>￥{{menu.price}}</td>
		<td><label class="checkbox">
			{% if menu.id in request.session.menus %}
			<input type="checkbox" value="{{menu.name}}" onclick="check_menu(this, '{{menu.id}}')" checked="checked" />勾选</label>
			{% else %}
			<input type="checkbox" value="{{menu.name}}" onclick="check_menu(this, '{{menu.id}}')" />勾选</label>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

{% pagination menus_page prefix %}

<div class="alert fade" id="alert_box">
	some error here
</div>	

<script type="text/javascript">

function check_menu(checkbox, menu_id) {
	$.getJSON("/menu/check/" + menu_id + "/", {}, function(data){
		if (!data.is_ok) {
			$("#alert_box").attr("class", "alert alert-error");
			$("#alert_box").html(data.reason);
		} else {
			$("#alert_box").attr("class", "alert alert-success");
			$("#alert_box").html("成功点击 " + checkbox.value);
		}
	});
}
</script>
{% endblock %}