{% extends "base.html" %}
{% load static %}
{% load common %}

{% block tabs %} {% nav "餐厅" %} {% endblock %}

{% block content %}


{% for rest in restaurants_page.object_list %}
<div class="row">
	<div class="span3">
		<ul class="thumbnails">
		  <li class="span3">
		    <div class="thumbnail">
		      <img data-src="{% static 'js/holder.js/260x180/text:完善中...' %}" alt="">
		      
		    </div>
		  </li>
		</ul>
	</div>
	<div class="span9">
		<h3>{{rest.name}}</h3>
		<a href="{% url restaurant_all_menu rest.id rest.name 1 %}" class="btn btn-mini">查看菜单</a>
		{% if rest.tips %}<div class="row"><div class="span9"> {{ rest.tips }} </div></div>{% endif %}
      	<div class="row">
	      	{% if rest.max_person_everyday > 0 %}
	      	<div class="span3">
	      	每日最大订餐人：{{ rest.max_person_everyday }}
	      	</div>
	      	{% endif %}	
	      	<div class="span3">订餐次数：{{ rest.order_number }}</div>	
	      	<div class="span3">共有 {{rest.get_menu_num}} 种菜单</div>
      	</div>
      	<div class="row">
      		<div class="span3">电话1：{{rest.phone1}}</div>
      		{% if rest.phone2 %}
      		<div class="span3">电话2：{{rest.phone2}}</div>
      		{% endif %}
      		{% if rest.phone3 %}
      		<div class="span3">电话3：{{rest.phone3}}</div>
      		{% endif %}
      	</div>
      	<div class="row"><div class="span9">{{rest.address}}</div></div>
      	
	</div>
</div>
{% endfor %}

{% pagination restaurants_page "/restaurant/all" %}
{% endblock %}