{% extends "base.html" %}

{% block content %}
<h3>{{request.user.username}} 的主页</h3>
<div class="row">
	<div class="span2">订餐次数</div>
	<div class="span10">{{profile.order_number}}</div>
</div>
<div class="row">
	<div class="span2">最后订餐时间</div>
	<div class="span10">{{profile.get_last_order_time}}</div>
</div>
<div class="row">
	<div class="span2">订单状态</div>
	{% if profile.last_order.is_end %}
	<div class="span1">已完成</div>
	{% endif %}
	{% if profile.last_order %}
	<div class="span1"><a href="{% url order_info profile.last_order.id %}">查看订单</a></div>
	{% else %}
	<div class="span1"><a href="#">空订单</a></div>
	{% endif %}
	
</div>
{% endblock %}